.collections_blocks_wrap {
    display: grid;
}

.collection_image_wrap img {
    max-width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 100%;
}

.collection_image_wrap:hover img {
   scale: 1.05;
}

.collection_image_wrap {
    position: relative;
    overflow: hidden;
}

a.collection_url {
    display: block;
}

a.collection_url:after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
}

h2.collection_title {
    position: absolute;
    color: #ffffff;
    margin: 0;
    font-family: Jost-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
}

.top_title_set h2.collection_title {
    top: 0;
    padding: 24px;
}

.middle_bottom_set h2.collection_title {
    
} 

@media screen and (max-width: 1200px) {
    .collections_blocks_wrap {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

@media screen and (max-width: 600px) {
     .collections_blocks_wrap {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}