.collections_blocks_wrap {
    display: grid;
}

.collection_image_wrap img {
    max-width: 100%;
    object-fit: cover;
}
.collection_image_wrap {
    position: relative;
}

a.collection_url:after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

@media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}