/*  Header Style */
.header--transparent{
    position:fixed;
    top:0;
    width:100%;

    background:transparent;
}

.header__inline-menu {
    display:flex;
    align-items:center;
    justify-content:center;
}

.header__menu-item{
    font-size: 14px;
    font-weight:400;
    line-height: 20px;
    text-transform:uppercase;   
}

/* Top Navigation Hover Line Animation */
.header__menu-item span {
  position: relative;
  display: inline-block;
}
.header__menu-item span::before {
  content: '';
  position: absolute;
  top: -5px; /* Position above text */
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}
.header__menu-item:hover span::before,
.header__active-menu-item::before {
  width: 100%;
}
/* Remove default Dawn underline */
.mega-menu[open] .header__menu-item{
    text-decoration:none;
}

.mega-menu[open] .header__menu-item span::before{
    width: 100%;
}

