/* Global Font override */
:root {
  --font-body-family: 'Jost', sans-serif !important;
  --font-heading-family: 'Jost', sans-serif !important;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, a, span, button, input, textarea, select {
  font-family: 'Jost', sans-serif !important;
}

/* Custom CSS for Mega Menu Image */
.mega-menu__content-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mega-menu__list {
  flex: 1;
}

.mega-menu__image-column {
  width: 300px;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
}

.mega-menu__image-column a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.mega-menu__image-column img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--media-radius);
}

.mega-menu__image-text {
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  text-align: left;
}
sticky-header.header-wrapper.color-scheme-1.gradient.header-wrapper--border-bottom{
    position: absolute;
    width: 100%;
    background: transparent;
}
.header__menu-item {
    color: #fff;
}
.header__active-menu-item{
    color: #fff;
    text-decoration: none;
}
.header__menu-item:hover{
    color: #fff;
}
sticky-header:has(.mega-menu[open]) {
  background: #fff !important;
  z-index: 9999;
}
sticky-header:has(.mega-menu[open]) .header__menu-item, sticky-header:has(.mega-menu[open]) .header__active-menu-item{
    color: #000 !important;
}
.header__icon{
  color: #fff !important;
}

sticky-header:has(.mega-menu[open]) .header__icon{
     color: #000 !important;
}