@font-face {
  font-family: 'Jost-BlackItalic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-BlackItalic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* https://cdn.shopify.com/s/files/1/0788/3214/0516/files/ */


@font-face {
  font-family: 'Jost-Bold';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Bold.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-BoldItalic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-BoldItalic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-ExtraBoldItalic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ExtraBoldItalic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ExtraBoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-Italic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Italic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-MediumItalic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-MediumItalic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-Regular';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Regular.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost-SemiBoldItalic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-SemiBoldItalic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-SemiBoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-Black';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Black.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost-ExtraBold';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ExtraBold.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost-ExtraLight';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ExtraLight.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-ExtraLightItalic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ExtraLightItalic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ExtraLightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost-Light';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Light.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-LightItalic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-LightItalic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-Medium';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Medium.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost-SemiBold';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-SemiBold.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-Thin';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Thin.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jost-ThinItalic';
  src:        url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ThinItalic.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0788/3214/0516/files/Jost-ThinItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
