.custom_transparant_navigation  {
    position: absolute;
    width: 100%;
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

/* .trans_header_hover_logo{
    max-width : 80px;
    width: 100%;
}

.trans_header_hover_logo .custom_trans_logo_wrap {
    position: relative;
}

.trans_header_hover_logo .custom_trans_logo_wrap img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.transparant_logo_visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    
} */

.custom_transparant_navigation .header__menu-item {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
/* 
 .custom_transparant_navigation:hover .transparant_logo_visible {
    display:  none;
}
.custom_transparant_navigation .defult_logo {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.custom_transparant_navigation:hover .defult_logo {
    opacity: 1;
    visibility: visible;
    display: block;
} */

.custom_transparant_navigation:hover .header__menu-item {
    color: #000000;
}
/* 
.custom_transparant_navigation .transparant_logo_visible {
    opacity: 1;
    visibility: visible;
    display: block;
}

    
.custom_transparant_navigation:hover .defult_logo {
    opacity: 1;
    visibility: visible;
    display: block;
} */

.custom_transparant_navigation:hover {
    background: #ffffff;
} 

.custom_transparant_navigation .defult_logo img {
    filter: invert(1);
    transition: all 0.3s ease-in-out;
}

.custom_transparant_navigation:hover .defult_logo img {
    filter: none;
}