/* Responsive */
@media (max-width: 1024px) {
  .header-nav--left {
    display: none;
  }
   .bst-product { min-width: 48%; }
    .footer-{{ footer_id }} .footer-container {
    flex-direction: column;
  }
  .footer-{{ footer_id }} .footer-col-1 {
    flex: 1;
  }
}




@media (max-width: 768px) {
.header-main {
    padding: 16px 20px;
  }

  .header-logo img {
    max-height: 28px;
  }

  .header-nav--right a:not(:last-child) {
    display: none;
  }
  .hero-wrapper {
    min-height: 70vh;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-links {
    gap: 1.2rem;
  }
  .banner-image {
    flex: 1 1 100%;
  }
   .banner-image {
    flex: 1 1 100%;
  }
  .image-label {
    font-size: 11px;
    padding: 3px 6px;
    top: 10px;
    left: 10px;
  }
  .bst-header { flex-direction: column; align-items: flex-start; gap:10px; }
  .bst-product { min-width: 100%; }
  .bst-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .hero-wrapper {
    min-height: 60vh;
  }

  .hero-content h2 {
    font-size: 1.6rem;
  }
}