/* Responsive */
@media (max-width: 1024px) {
  .header-nav--left {
    display: none;
  }
}




@media (max-width: 768px) {
.header-main {
    padding: 16px 20px;
  }

  .header-logo img {
    max-height: 28px;
  }

  .header-nav--right a:not(:last-child) {
    display: none;
  }
  .hero-wrapper {
    min-height: 70vh;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-links {
    gap: 1.2rem;
  }
  .banner-image {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .hero-wrapper {
    min-height: 60vh;
  }

  .hero-content h2 {
    font-size: 1.6rem;
  }
}