.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}



.cst_richtext_section h2.rich-text__heading {
  font-size: 18px;
  line-height: 28px;
  font-family: Jost-Regular;
  font-weight: 400;
}

.cst_richtext_section .rich-text__text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
  font-family: Jost-Regular;
  font-weight: 400;
  color: #000000;
}

.cst_richtext_section  a.button.button--secondary:after,
.cst_richtext_section  a.button.button--secondary:before {
  content: none;
}

.cst_richtext_section  a.button.button--secondary {
  font-size: 14px;
  line-height: 18px;
  font-family: Jost-Regular;
  text-decoration: underline;
  font-weight: 400;
  color: #000000;
  padding: 0;
  min-width: fit-content;
  flex-grow: unset;
  min-height: auto;
}

.cst_richtext_section .rich-text__buttons {
  margin-top: 16px;
  gap: 24px;
  display: flex;
}






@media screen and (max-width: 600px) {
  .cst_richtext_section h2.rich-text__heading {
    font-size: 14px;
    line-height: 20px;
  }
  .cst_richtext_section .rich-text__wrapper {
    width: 100%;
  }
  .cst_richtext_section .rich-text__text {
    font-size: 13px;
    line-height: 21px;
  }
}


