.section_media_wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.section_media_wrapper .left_col_wrap {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}